.button-container {
  position: relative;

  &__button {
    left: 0;
    top: 0;
    width: 279px;
    height: 77px;
    border-radius: 50%;
    background-color: #fff;
    color: #2235D1;
    border: 2px solid #000;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }

  &__second-border {
    position: absolute;
    left: 0;
    top: 0;
    width: 275px;
    height: 73px;
    border: 2px solid #2235D1;
    border-radius: 50%;
    transform: rotate(-10deg);
    transition: transform .25s ease-in-out, outline .1s ease-in-out;

    &:hover {
      transform: rotate(0);
    }

    &:active {
      outline: 3px solid #2235D1;
    }
  }
}
