.header-container {
  padding: 35px 150px;
  background-color: #000;

  &__nav-menu {

    &__list {
      list-style: none;
      display: flex;
      justify-content: space-between;

      &__item {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;

        &__link {
          color: #fff;
          transition: color .1s ease-in-out;

          &:hover {
            color: #0B38EB;
          }

          &:active {
            color: #0B38EB;
          }
        }
      }
    }
  }
}
